:root {
  --main-color: #78bbe6;
  --second-color: #1b435d;
  --font-color: #d5eeff;
  --icon-color: #ff895d;
  --highlight-color: #f16821;
}

body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--second-color);
  color: var(--font-color);
}

h1 {
  font-family: 'Quattrocento', serif;
  font-weight: bold;
}

h2 {
  font-family: 'Quattrocento', serif;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-family: 'Quattrocento', serif;
  font-weight: bold;
  text-align: center;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: var(--icon-color);
}

p {
  font-family: 'Montserrat', sans-serif;
}

span {
  color: var(--highlight-color);
}

.nav-link {
  color: var(--font-color);
}

.nav-link:hover {
  color: var(--highlight-color) !important;
}

.photoCredit {
  position: absolute;
  bottom: 50px;
  right: 20px;
  color: gray;
  font-size: 0.6rem;
}

@media only screen and (max-device-width: 576px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.8rem;
  }
  h3 {
    font-size: 2.4rem;
    padding-top: 20px;
  }
  h5 {
    font-size: 2rem;
  }
  p {
    font-size: 2rem;
  }
  .nav-link {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .techLabel {
    font-size: 1.4rem;
  }
  .listItem {
    font-size: 1.4rem;
    height: auto !important;
  }
}

/******************************NAVBAR SECTION********************************/

.navbar {
  background-color: var(--second-color) !important;
}

.navLogo {
  width: 80px;
  padding: 5px 0;
  margin-left: 50px;
}

.navbar-collapse {
  justify-content: flex-end;
}

@media (max-width: 992px) {
  .navbar-collapse {
    width: 100%;
  }
}

@media only screen and (max-device-width: 576px) {
  .container {
    max-width: none;
    width: 95%;
  }
  .nav-logo {
    margin-left: 0;
  }
}

/*****************************WELCOME SECTION********************************/

#welcome {
  background-image: url('images/light-trails-in-city.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
  height: 100vh;
  position: relative;
}

.welcomeContent {
  padding-left: 50px;
  padding-right: 50px;
}

#heading {
  padding-top: 30vh;
}

@media only screen and (max-device-width: 576px) {
  #welcome {
    height: 50vh;
  }
  .welcomeContent {
    margin: auto;
    text-align: center;
  }
  #heading {
    padding: 20vh 10% 50px;
  }
}

/********************************ABOUT SECTION******************************/

#about {
  background: linear-gradient(180deg, black 5%, var(--main-color) 50%, black 80%);
  margin-bottom: -100px;
}

.aboutContent {
  background-color: var(--second-color);
  position: relative;
  bottom: 50px;
  width: 100%;
  margin: auto;
  padding: 50px;
  border-radius: 2rem;
  overflow: visible;
  z-index: 1000;
}

.techImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

@media (max-width: 992px) and (min-device-width:576px) {
  .techImages::after {
    content: "";
    flex: auto;
  }
}

.techItem {
  text-align: center;
  min-width: 100px;
}

.techLogo {
  font-size: 50px;
  color: var(--icon-color);
}

/*******************************WORKS SECTION********************************/

#work {
  background-image:
  linear-gradient(to bottom, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 1) 90%),
  url('images/interior-empty-lot.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100vh;
}

.projectContent {
  padding: 50px;
}

/* .projectBody {
  margin-left: -50px;
  margin-right: -50px;
} */

.row {
  justify-content: space-between;
  align-content: flex-start;
  margin-left: -50px;
  margin-right: -50px;
}

.row::after {
  content: "";
  flex: auto;
}

.col-xl-4, .col-lg-6 {
  padding: calc(var(--bs-gutter-x)/ 2);
  align-items: stretch;
}

.card {
  background-color: var(--second-color);
  border-radius: 1rem;
}

.card:hover {
  box-shadow: 0 0 15px var(--icon-color);
  transition: box-shadow 0.5s;
}

.card-img-top {
  border-top-left-radius: calc(1rem - 1px);
  border-top-right-radius: calc(1rem - 1px);
}

.card-body {
  min-height: 136px;
}

.list-group {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  min-height: 106px;
}

.listItem {
  display: block;
  text-decoration: none;
  border: 1px solid var(--icon-color);
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
  margin: 0.2rem;
  height: 30px;
}

@media (max-width: 1400px) and (min-width: 1200px) {
  .card-body {
    min-height: 160px;
  }
  .list-group {
    min-height: 143px;
  }
}

@media (max-width: 992px) {
  .card-body {
    min-height: 60px;
  }
  .list-group {
    min-height: 60px;
  }
}

/***************************CONTACT SECTION**********************************/


#contact {
  background: linear-gradient(180deg, black 5%, var(--main-color) 50%, black  85%);
  margin-bottom: -100px;
}

.contactContent {
  background-color: var(--second-color);
  position: relative;
  bottom: 50px;
  width: 100%;
  margin: auto;
  padding: 50px;
  border-radius: 2rem;
  overflow: visible;
  z-index: 1000;
  text-align: center;
}

.contactContent h2 {
  margin-bottom: 20px;
}

.contactImages {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin:20px auto;
}

.contactLogo {
  font-size: 50px;
  padding: 10px;
}

.contactLogo:hover {
  color: var(--highlight-color);
  transition: color 0.5s;
}

.contactForm {
  width: 60%;
  margin: auto;
  text-align: left;
}

textarea {
  resize: none;
  border-style: inset;
  border-width: 2px;
}

input, textarea {
  background-color: var(--main-color);
}

.btn {
  background-color: var(--icon-color);
  color: var(--font-color);
}

.btn:hover {
  background-color: var(--highlight-color);
  transition: background-color 0.5s;
  color: var(--font-color);
}

@media only screen and (max-device-width: 576px) {
  .contactForm {
    width: 80%;
  }
  .form-label {
    font-size: 1.4rem;
  }
  input {
    line-height: 2;
  }
}


/***************************FOOTER SECTION***********************************/
 footer {
   padding-top: 50px;
   background-color: black;
 }

 .footerContent {
   display: flex;
   justify-content: space-between;
   padding: 20px 50px;
 }

 /***********************MESSAGES PAGE************************************/
 .messageCard {
   display: flex;
   justify-content: space-between;
   background-color: var(--bs-gray-dark);
 }
