:root {
  --main-color: #78bbe6;
  --second-color: #1b435d;
  --font-color: #d5eeff;
  --icon-color: #ff895d;
  --highlight-color: #f16821;
}

body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--second-color);
  color: var(--font-color);
}

h1 {
  font-family: 'Quattrocento', serif;
  font-weight: bold;
}

h2 {
  font-family: 'Quattrocento', serif;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-family: 'Quattrocento', serif;
  font-weight: bold;
  text-align: center;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: var(--icon-color);
}

p {
  font-family: 'Montserrat', sans-serif;
}

span {
  color: var(--highlight-color);
}

.nav-link {
  color: var(--font-color);
}

.nav-link:hover {
  color: var(--highlight-color) !important;
}

.photoCredit {
  position: absolute;
  bottom: 50px;
  right: 20px;
  color: gray;
  font-size: 0.6rem;
}

@media (max-width: 576px) {

  h1 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
}

/******************************NAVBAR SECTION********************************/

.navbar {
  background-color: var(--second-color) !important;
}

.navLogo {
  width: 80px;
  padding: 5px 0;
  margin-left: 50px;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-nav {
  flex-direction: row;
  justify-content: flex-end;
}

@media (max-width: 576px) {
  .navbar-brand {
    padding: 0;
    margin: 0;
  }
  .navLogo {
    margin-left: 0;
    width: 40px;
    padding: 0;
  }
  .navbar-nav {
    width: calc(100% - 50px);
    justify-content: space-between;
  }
  .nav-link {
    font-size: .8rem;
    font-weight: bold;
  }
}

@media (max-width: 355px) {
  .nav-link {
    font-size: .6rem;
  }
}

/*****************************WELCOME SECTION********************************/

#welcome {
  background-image: url('images/light-trails-in-city.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
  height: calc(100vh - 116px);
  position: relative;
}

.welcomeContent {
  padding-left: 50px;
  padding-right: 50px;
}

#heading {
  padding-top: 30vh;
}

@media (max-width: 576px) {
  #welcome {
    height: 60vh;
  }

  .welcomeContent {
    margin: auto;
    text-align: center;
    padding: 0;
    width: 80%;
  }
  #heading {
    padding: 15vh 0 2vh;
    max-width: 230px;
    margin: auto;
  }

}

/********************************ABOUT SECTION******************************/

#about {
  background: linear-gradient(180deg, black 5%, var(--main-color) 50%, black 80%);
  margin-bottom: -100px;
}

.aboutContent {
  background-color: var(--second-color);
  position: relative;
  bottom: 50px;
  width: 100%;
  margin: auto;
  padding: 50px;
  border-radius: 2rem;
  text-align: justify;
  overflow: visible;
  z-index: 1000;
}

.techImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

@media (max-width: 992px) and (min-width: 576px) {
  .techImages::after {
    content: "";
    flex: auto;
  }
}

.techItem {
  text-align: center;
  min-width: 100px;
}

.techLogo {
  font-size: 3rem;
  color: var(--icon-color);
}

.techLabel {
  font-size: 1rem;
}

@media (max-width: 576px) {
  .aboutContent {
    padding: 20px;
    border-radius: 1rem;
  }

  .techImages {
    align-items: center;
  }

  .techItem {
    min-width: 80px;
  }

  .techLogo {
    font-size: 2rem;
    color: var(--icon-color);
  }

  .techLabel {
    font-size: .8rem;
  }
}

/*******************************WORKS SECTION********************************/

#work {
  background-image:
  linear-gradient(to bottom, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 1) 90%),
  url('images/interior-empty-lot.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100vh;
}

.projectContent {
  padding: 50px;
}

.projectTitle p {
  text-align: center;
  color: var(--icon-color);
}

.row {
  justify-content: space-between;
  align-content: flex-start;
  margin-left: -50px;
  margin-right: -50px;
}

.row::after {
  content: "";
  flex: auto;
}

.col-xl-4, .col-lg-6 {
  padding: calc(var(--bs-gutter-x)/ 2);
  align-items: stretch;
}

.card {
  background-color: var(--second-color);
  border-radius: 1rem;
  height: 100%;
}

.card:hover {
  box-shadow: 0 0 15px var(--icon-color);
  transition: box-shadow 0.5s;
}

.card-img-top {
  border-top-left-radius: calc(1rem - 1px);
  border-top-right-radius: calc(1rem - 1px);
  width: 100%;
  height: auto;
}

.list-group {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
}

.listItem {
  display: block;
  text-decoration: none;
  border: 1px solid var(--icon-color);
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
  margin: 0.2rem;
  height: 30px;
}

@media (max-width: 576px) {
  .projectContent {
    padding-left: 0;
    padding-right: 0;
  }
  .row {
    margin-left: calc(var(--bs-gutter-x)/ -2);
    margin-right: calc(var(--bs-gutter-x)/ -2);
  }

  .listItem {
    font-size: .8rem;
    height: 25px;
  }

}

/***************************CONTACT SECTION**********************************/


#contact {
  background: linear-gradient(180deg, black 5%, var(--main-color) 50%, black  85%);
  margin-bottom: -100px;
}

.contactContent {
  background-color: var(--second-color);
  position: relative;
  bottom: 50px;
  width: 100%;
  margin: auto;
  padding: 50px 10px;
  border-radius: 2rem;
  overflow: visible;
  z-index: 1000;
  text-align: center;
}

.contactContent h2 {
  margin-bottom: 20px;
}

.contactImages {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin:20px auto;
}

.contactLogo {
  font-size: 50px;
  padding: 10px;
}

.contactLogo:hover {
  color: var(--highlight-color);
  transition: color 0.5s;
}

.contactForm {
  width: 60%;
  margin: auto;
  margin-top: 20px;
  text-align: left;
}

textarea {
  resize: none;
  border-style: inset;
  border-width: 2px;
}

input, textarea {
  background-color: var(--main-color);
}

.btn {
  background-color: var(--icon-color);
  color: var(--font-color);
}

.btn:hover {
  background-color: var(--highlight-color);
  transition: background-color 0.5s;
  color: var(--font-color);
}

@media (max-width: 768px) {
  .contactContent {
    border-radius: 1rem;
  }
  .contactForm {
    width: 80%;
  }
  .contactLogo {
    font-size: 2rem;
  }
}

/***************************FOOTER SECTION***********************************/
 footer {
   padding-top: 50px;
   background-color: black;
 }

 .footerContent {
   display: flex;
   justify-content: space-between;
   padding: 20px 50px;
 }

 /***********************MESSAGES PAGE************************************/
 .messageCard {
   display: flex;
   justify-content: space-between;
   background-color: var(--bs-gray-dark);
 }

 /********************LOADING MESSAGE**************************************/
 #messageSending {
   visibility: hidden;
   background-color: var(--main-color);
   color: black;
   border: 2px solid var(--highlight-color);
   border-radius: 20px;
   text-align: center;
   z-index: 2000;
 }

 #messageSending p {
   padding: 20px;
   font-weight: bold;
 }

 .spinner-border {
   color: var(--highlight-color);
 }

 @media (max-width: 576px) {
   #messageSending {
     width: 80%;
   }
 }
